body {
  height: 100vh;
}

.backlog-container {
  margin-left: 163px;
  margin-right: 20px;
  margin-bottom: 1000px;
}

.empty-backlog {
  margin: 100px;
  text-align: center;
  font-size: 80px;
  color: rgba(128, 128, 128, 0.322);
}

.backlog-unit-content {
  width: 100%;
}

.backlog-main-title {
  padding-top: 30px;
  margin-bottom: 4px;
  font-size: 27px;
  color: rgba(0, 0, 0, 0.781);
}

.backlog-subtitle {
  color: rgb(8, 8, 110);
  opacity: 0.5;
  font-size: 12px;
  margin: 0;
}

.sub-titles-section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 10px;
  color: rgb(5, 5, 92);
  font-weight: bold;
}

.backlog-unit {
  display: flex;
  align-items: center;

  width: 100%;
  background-color: rgba(0, 0, 255, 0.062);
  border-radius: 10px;
  font-size: 15px;
  color: rgba(36, 35, 35, 0.877);
  margin: 3px 0px;
}

.category-color {
  width: 6px;
  min-height: 40px;
  height: 80px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.user-profile {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  max-width: 220px;
  min-width: 20%;
}

.user-inforamtion-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.task-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-information {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.backlog-unit-name {
  width: 200px;
}

.backlog-unit-email {
  color: rgba(0, 0, 255, 0.534);
  margin-top: 3px;
  text-decoration: none;
  font-size: 10px;
}

.backlog-unit-email:hover {
  color: rgba(0, 0, 255, 0.644);
  text-decoration: underline;
}

.backlog-details {
  width: 100%;
  max-width: 390px;
  word-break: break-all;
  margin-left: 20px;
}

.category {
  color: white;
  padding: 2px 8px;
  border-radius: 50px;
  min-width: 50%;
  text-align: center;

  min-width: 120px;
  width: 100px;
}

.category-title {
  margin-right: 200px;
}

.delete-icon {
  cursor: pointer;
  margin-right: 5px;
}

.underline {
  border-bottom: 1px solid rgba(105, 104, 104, 0.205);
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  height: 1.2em;
  white-space: nowrap;
}

@media screen and (max-width: 1120px) {
  .backlog-container {
    margin: 60px 3%;
    text-align: center;
  }
  .backlog-subtitle {
    margin-bottom: 10px;
  }
  .sub-titles-section {
    display: none;
  }
  .backlog-unit-name {
    font-size: 13px;
  }
  .backlog-unit-email {
    font-size: 11px;
  }
  .user-inforamtion {
    margin-left: 1px;
  }
  .category {
    display: none;
  }
  .empty-backlog {
    font-size: 30px;
  }
}
