body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.board-container {
  width: 78%;
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */

  box-sizing: border-box;
}
.board-box {
  height: 90vh;
  margin: 0 10px;
  min-width: 20vw;
  color: rgb(0, 0, 0);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.294),
    inset 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  background-color: rgba(0, 0, 255, 0.062);
  border-radius: 5px;
  background: linear-gradient(45deg, #036eb7);
  overflow-y: auto;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 24;
  width: 24;
  cursor: pointer;
}

@media screen and (max-width: 1120px) {
  .board-container {
    flex-direction: column;
    margin: 0;
    margin-top: 40px;
    min-width: 96%;
  }
  .board-box {
    height: 100%;
    min-height: 15vh;
  }
  .mt {
    margin-top: 40px;
  }
}

/* @@@@@@@@@@@ */

.task-unit {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.308),
    inset 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 5px;
  padding: 7px;
  padding-bottom: 30px;
  overflow: auto;
  word-break: break-all;
  cursor: grab;
}

.task-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.extra-info {
  font-size: 14px;
  padding: 4px 4px;
  width: 33%;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.task-title {
  font-weight: bold;
  text-decoration: underline;
}

.info-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0px;
  padding: 1px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgba(94, 93, 93, 0.438);
  width: 100%;
  z-index: 0;
}
