.footer-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: gray !important;
}

.footer-section a {
    color: rgb(66, 65, 65);
    text-decoration: none;
}

.footer-section a:hover {
    color: rgb(126, 122, 122);    
}