
.board{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 60px;
	margin-top: 30px;
}
.column{
	width: 20%;
}
.column h2{
	text-align: center;
}
.board-column{
	background-color: rgba(0, 0, 255, 0.062);
	border-radius: 3px;
	height: 80vh;
	margin: 10px;

}
@media (max-width:778px) {
	body{
		flex-direction: column;
		display: flex;
	}
	.board{
		flex-wrap: wrap;
		
	}
	.column{
		min-width: 40%;
	}
}

/* @@@@@@@@@@@ */

.task-unit {
	display: flex;
	flex-direction: column;
	background-color: rgba(18, 50, 109, 0.335);
	margin: 4px;
	padding: 4px;
	max-height: 70px;
}

.task-container {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}


/* .task-title{}


.description-containe{} */

.extra-info {
	font-size: 10px;
}