.index-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(8, 8, 99, 0);
}

.visibility {
  visibility: hidden;
}

.error-full {
  margin-top: -30px;
  margin-bottom: 10px;
  font-size: 18px;
  color: rgba(173, 42, 42, 0.952);
}

.error {
  background-color: rgba(197, 30, 30, 0.027) !important;
  border: 1px solid rgba(138, 10, 10, 0.383) !important;
}

.success {
  background-color: rgba(55, 211, 76, 0.082) !important;
  border: 1px solid rgba(5, 97, 25, 0.452) !important;
}

.login-container {
  display: flex;
  position: relative;
  height: 80%;
  width: 100%;
  margin: 15%;
  box-shadow: 0px 10px 13px -7px #0000001e,
    -2px 30px 86px 2px rgba(0, 0, 0, 0.582);
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
}

#login-form {
  margin-left: 7%;
}

.login-form-content {
  width: 33%;
}

.content-container {
  display: grid;
  place-items: center;
  height: 100%;
  color: rgba(255, 255, 255, 0.445);

  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  font-family: 'Varela Round', sans-serif;
}

.login-form-container {
  display: none;
  position: relative;
  width: 100%;
}

.index-input-style1,
.index-input-style2 {
  width: 30vw;
  outline: none;
  border: none;
  min-width: 23vw;
  max-width: 500px;
  font-size: 13px;
  padding: 10px;
}

.index-input-style1 {
  border-right: 1px solid rgba(0, 0, 0, 0.356);
  border-top: 1px solid rgba(0, 0, 0, 0.356);
  background-color: rgba(0, 0, 0, 0.055);
}

.index-input-style2 {
  background-color: rgba(0, 0, 0, 0.055);
  border-left: 1px solid rgba(0, 0, 0, 0.356);
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
}

.copy {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgba(128, 128, 128, 0.472);
}

.index-input-style::placeholder {
  color: rgba(96, 99, 96, 0.705);
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.login-submit-btn {
  background-color: gray;
  border: none;
  font-size: 17px;
  padding: 10px 20px;
  max-width: 120px;
  max-height: 40px;
  color: rgb(240, 248, 255);
  cursor: pointer;
  text-align: center;
  outline: none;
}

.login-submit-btn:hover {
  background-color: rgba(61, 61, 61, 0.712);
}

.create-account {
  position: absolute;
  top: 20px;
  right: 20px;
}

.create-account-btn {
  padding: 6px 20px;
  font-size: 14px;
  margin-left: 10px;
  background-color: white;
  border: rgba(128, 128, 128, 0.671) 2px solid;
  font-weight: bold;
  cursor: pointer;
}

.index-title {
  font-size: clamp(30px, 3vw, 63px);
}

.index-sub-title {
  font-size: 19px;
}

.title {
  font-size: clamp(10px, 1vw, 25px);
}

.create-account-btn:hover {
  background-color: rgba(128, 128, 128, 0.178);
}

.gray-look {
  color: rgba(65, 63, 64, 0.842);
}

.content-title {
  font-size: 33px;
  font-family: 'Varela Round', sans-serif;
}

.sub-title {
  font-size: 13px;
}

.programm-title {
  height: 40px;
  font-family: 'Zen Dots', cursive;
  font-size: 50px;
  margin-top: 40px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.055);
}

.programm-logo {
  height: 60px;
  width: 100px;
  object-fit: contain;
}

.login-form-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 66.9%;
  background-color: rgb(255, 255, 255);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  width: 100%;
}

.login-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
}

.form-submit-btn:hover {
  background-color: rgb(5, 6, 65);
}

.link-container {
  display: flex;
  flex-direction: column;
}

.form-end {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.without-login {
  color: orange;
  margin-top: 20px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  box-sizing: border-box;
}

.login-input-container {
  display: flex;
  flex-direction: column;
}

.register-form-container {
  max-width: 500px;
  margin-left: 17%;
  color: #000000;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.close-icon:hover {
  transform: scale(1.04);
}

.register-end {
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .index-container {
    justify-content: center;
    align-items: center;
  }
  .index-input-style1,
  .index-input-style2 {
    width: 80vw;
  }
  .login-container {
    text-align: center;

    height: 100%;
    width: 100vw;
    margin: 0;
    margin-left: 0 !important;
  }
  #login-form {
    height: 400px;
    margin: 0;
  }
  .content-title {
    margin-bottom: 40px;
  }

  .login-form-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 100vh; */
    width: 100%;
  }
  .register-form-container {
    justify-content: center;
    text-align: center;
    margin: 0 3%;
  }
  .overlay {
    justify-content: center;
  }
  .content-container,
  .login-form-content {
    display: none;
  }
  .login-form {
    height: 80%;
    width: 90%;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .login-submit-btn {
    border: 1px solid rgba(119, 22, 22, 0.281);
    border-radius: 50px;
    margin-top: 50px;
    padding: 10px 100px;
    max-width: 100%;
    text-align: center;
  }
  .login-title {
    margin-top: 100px;
  }
  .input {
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.788);
    padding: 5px;
  }
  .form-end {
    align-items: center;
    margin-top: 80px;
  }
  .copy {
    text-align: center;
  }
}
