@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

.index-forms-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Gruppo', cursive !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  height: 60%;
  margin: 0 20%;
}

.form-card {
  height: 100%;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 5px;
  z-index: 2;
  font-family: 'Gruppo', cursive;
}

.login-input-container {
  width: 100%;
}

.form-title {
  font-size: 30px;
}

.index-input-style {
  --webkit-text-security: square;
  width: 70%;
  padding: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid rgb(107, 106, 106);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
}

.index-input-style:focus {
  outline: none;
  background-color: rgba(238, 231, 231, 0.137);
}

input {
  font: small-caption;
  font-size: 16px;
}

.index-input-style:focus::placeholder {
  color: white;
}
.register-link {
  color: rgb(235, 233, 231);
}

.index-input-style::placeholder {
  color: rgba(255, 255, 255, 0.555);
  font-size: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url('img/bg.jpg');
  color: white;
}

.login-submit-btn {
  font-size: 20px;
  width: 50%;
  padding: 5px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(19, 151, 133, 0.788);
}

.login-submit-btn:hover {
  background-color: teal;
}

.blur-effect {
  backdrop-filter: blur(24px);
}

.blur {
  filter: blur(3px);
  pointer-events: none;
}
