.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 140px;
  height: 100vh;
  background-color: rgb(4, 18, 73);
  z-index: 3;
  box-shadow: 3px 1px 11px 4px rgba(55, 38, 150, 0.26);
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  object-fit: contain;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  text-align: left;
  width: 100%;
}

.navbar-links a {
  margin-top: 20px;
  text-decoration: none;
  color: rgb(255, 251, 251);
  padding-left: 40px;
  font-size: 17px;
  border-left: transparent 4px solid;
}

.dropDownMenu {
  background-color: #041249;
  position: absolute;
  right: 0;
  left: 0;
  opacity: 1;
  top: 70px;
  flex-direction: column;
  transform: translateY(-0%);
  transition: 225ms all ease-in-out;
}

.dropDownMenu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 22px 0;
  align-self: center;
  border-bottom: 5px solid transparent;
}

.dropDownMenu a:hover {
  color: rgba(235, 235, 235, 0.897);
  border-bottom: 5px solid rgba(53, 129, 173, 0.335);
}

.navbar-links a:hover {
  border-left: 4px solid #fff;
  opacity: 0.8;
  transition: 125ms;
}

.burger-menu {
  display: none;
}

@media screen and (min-width: 1100px) {
  .dropDownMenu {
    display: none !important;
  }
}

@media screen and (max-width: 1120px) {
  .navbar {
    height: 70px;
    width: 100%;
    transition: 120ms;
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 3%;
    height: 100%;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
  }
  .navbar-links {
    display: none;
    margin: 0;
  }
  .profile-pic {
    margin: 0;
    display: none;
  }
  .logo-image {
    margin: 0;
  }
}
