
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
}

.d-none {
  display: none;
}

.dropDownMenu {
  background-color: #ebe9e967;
  position: absolute;
  right: 3%;
  flex-direction: column;
  top: 70px;
  border-bottom-left-radius: 8px;
}



.dropDownMenu a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: 8px;
  align-self: flex-end;
  border-bottom: 5px solid transparent;
}

.dropDownMenu a:hover {
  color: rgb(4, 18, 73);
  border-bottom: 5px solid rgba(53, 129, 173, 0.335);
}

.sales-color {
  background-color: rgba(29, 189, 29, 0.308);
}
.product-color {
  background-color: rgba(59, 59, 187, 0.329);
}

.management-color {
  background-color: #e2a65698;
}

.marketing-color {
  background-color: rgba(230, 69, 20, 0.466);
}

.container {
  margin: 100px 200px;
}

.help-section {
  margin: 40px 0;
}

.help-img{
  max-width: 1200px;
  width: 100%;
}


@media  screen and (max-width: 1120px) {
  .container {
    margin: 100px 3%;
    text-align: center;
  }
  
}