@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logged-in-user{
  color: rgb(97, 178, 97);
  text-align: center;
  margin-top: 8px;
  overflow-wrap: anywhere;
}


.form-left {
  width: 27%;
}

.d-none {
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0.3;
}

.visible {
  visibility: visible;
}

.sales-color {
  background-color: rgba(29, 189, 29, 0.308);
}
.product-color {
  background-color: rgba(59, 59, 187, 0.329);
}

.management-color {
  background-color: #e2a5566c;
}

.marketing-color {
  background-color: rgba(230, 69, 20, 0.466);
}

.container {
  margin: 100px 200px;
}

.help-section {
  margin: 40px 0;
}

.help-img {
  max-width: 1200px;
  width: 100%;
}

@media screen and (max-width: 1120px) {
  .container {
    margin: 100px 3%;
    text-align: center;
  }
}
