<div class="navbar">
  <div class="navbar-content">
    <a href="index.html"><img class="logo-image" src="img/logo.png" /></a>
    <nav class="navbar-links">
      <a href="board.html">Board</a>
      <a href="backlog.html">Backlog</a>
      <a href="addTask.html">Add Task</a>
      <a href="">Help</a>
    </nav>
    <img class="profile-pic" src="img/profile.png" />
    <img onclick="openBurgerMenu()" class="burger-menu" src="img/burger-menu.png" />
    <div id="dropDownMenu"  class="dropDownMenu d-none">
      <a href="board.html">Board</a>
      <a href="backlog.html">Backlog</a>
      <a href="addTask.html">Add Task</a>
      <a href="">Help</a>
     
  </div>

  </div>
</div>
